In [1]:
import pandas as pd
import statistics

In [2]:
PROF = pd.read_excel("PROF.xls")
PROF.head()

,sid,yyyy,RET,rank_RET,rank_TD,rank_PE,rank_PB,rank_PS,rank_CD,rank_PV,rank_CDR,rank_SYD,rank_PR,rank_PP,rank_ATG
0,1101 台泥,2005,22.0118,68,95,24,49,85,55,96,85,77,89,95,68
1,1102 亞泥,2005,-0.6366,48,83,8,33,93,81,94,83,94,77,82,51
2,1103 嘉泥,2005,-16.7746,29,68,97,28,88,15,80,17,15,53,65,27
3,1104 環泥,2005,-9.1434,37,63,86,8,65,15,70,17,94,49,39,46
4,1109 信大,2005,-9.9943,36,31,29,18,74,80,64,78,61,58,82,61

In [3]:
yearlist = list(set(PROF["yyyy"]))
yearlist.sort()
trainlist = yearlist[1:10]
testlist = yearlist[10:17]
allyear = yearlist[1:]
print(trainlist)
print(testlist)
print(allyear)

[2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014]
[2015, 2016, 2017, 2018, 2019, 2020]
[2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [4]:
def selc(PROF, RET, TD, PE, PB, PS, CD, PV, CDR, SYD, PR, PP, ATG):
    PROF_cp = PROF.copy()
    filt = PROF.loc[(PROF_cp['rank_RET'] > RET)]
    filt = filt.loc[(filt['rank_TD'] > TD)]
    filt = filt.loc[(filt['rank_PE'] > PE)]
    filt = filt.loc[(filt['rank_PB'] > PB)]
    filt = filt.loc[(filt['rank_PS'] > PS)]
    filt = filt.loc[(filt['rank_CD'] > CD)]
    filt = filt.loc[(filt['rank_PV'] > PV)]
    filt = filt.loc[(filt['rank_CDR'] > CDR)]
    filt = filt.loc[(filt['rank_SYD'] > SYD)]
    filt = filt.loc[(filt['rank_PR'] > PR)]
    filt = filt.loc[(filt['rank_PP'] > PP)]
    filt = filt.loc[(filt['rank_ATG'] > ATG)]
    filt["yyyy"] = filt["yyyy"]+1
    filt = filt[['sid', 'yyyy']]
    nextPROF =  pd.merge(filt,PROF_cp)
    RET_Y = []
    l = 0
    for i in allyear:
        testyear = i+1
#         print(i," : ",len(nextPROF.loc[(nextPROF['yyyy'] == i)]["sid"]))
        RET_Y.append((nextPROF.loc[(nextPROF['yyyy'] == i)]["RET"].mean()+100)/100)
#         print(i,RET_Y[l])
        l += 1
    return statistics.geometric_mean(RET_Y)

In [ ]:
opt_var = [0,0,0,0,0,0,0,0,0,0,0,0,0]
print(opt_var[0])
for RET in range(99):
    for TD in range(99):
        for PE in range(99):
            for PB in range(99):
                for PS in range(99):
                    for CD in range(99):
                        for PV in range(99):
                            for CDR in range(99):
                                for SYD in range(99):
                                    for PR in range(99):
                                        for PP in range(99):
                                            for ATG in range(99):
                                                r = selc(PROF, RET, TD, PE, PB, PS, CD, PV, CDR, SYD, PR, PP, ATG)
                                                if (r > opt_var[0]):
                                                    opt_var = [r, RET, TD, PE, PB, PS, CD, PV, CDR, SYD, PR, PP, ATG]
                                                    print("UPDATE : ",opt_var)
print(opt_var)

0
UPDATE :  [1.1438253454597458, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
UPDATE :  [1.1442176345007005, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 42]
UPDATE :  [1.1444430129264545, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 46]
UPDATE :  [1.1445366733891211, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 47]
UPDATE :  [1.1451197163581988, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 49]
UPDATE :  [1.1460661334502724, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 50]
UPDATE :  [1.1461629630884118, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 51]
UPDATE :  [1.146713686546559, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 52]
UPDATE :  [1.1468957184909387, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 53]
UPDATE :  [1.1470604402767484, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 54]
UPDATE :  [1.148064009391593, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 55]
UPDATE :  [1.148405249266773, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 57]
UPDATE :  [1.148784702780142, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 58]
UPDATE :  [1.1498792061639393, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 60]
UPDATE :  [1.1498888934178662, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 61]
UPDATE :  [1.150121183008108, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 62]
UPDATE :  [1.150719207823876, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 67]
UPDATE :  [1.1507451330135172, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 77]
UPDATE :  [1.1516744543387651, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 78]
UPDATE :  [1.1530995644363904, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 79]
UPDATE :  [1.154370069834629, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 80]
UPDATE :  [1.1629010383496148, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 90]
UPDATE :  [1.165332697148073, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 95]
UPDATE :  [1.1858320105500757, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 96]
UPDATE :  [1.1964654807824753, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 97]
UPDATE :  [1.1976378897762145, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 97]
UPDATE :  [1.2034955877167528, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 0, 97]
UPDATE :  [1.203704772994141, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 97]

In [113]:
for i in range(99):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98